/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  font-size: .875rem; }
h1 {font-size: 2.4rem;margin-bottom: 30px;}
.bg-blue {background-color:#2e5087;}
.navbar-brand img { height:30px; }
.navbar-dark .navbar-nav .nav-link {color:#fff;}
.navbar-dark .navbar-nav .active .nav-link {color:#fff;}
.banner img {width:100%;}